body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .banner {
    position: relative;
    text-align: center;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
  }
  
  .profile-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 340px;
    border-radius: 50%;
  }
  
  header {
    text-align: center;
    background-color: rgb(9, 13, 70);
    color: white;
    padding: 20px;
  }
  
  header h1 {
    font-size: 20px;
    line-height: 30px;
  }
  
  .sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(236, 237, 255);
  }
  
  .section {
    width: 40%;
    margin: 0 auto; /* Margen para centrar */
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(9, 13, 70);
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px; /* Bordes redondeados */
  }
  
  .section h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .margen {
    margin-left: 295px;
    margin-right: 250px;
  }

  .margen2 {
    margin-left: 455px;
    margin-right: 250px;        
  }
  .margen3 {
    margin-left: 135px;
    margin-right: 250px;        
  }
  .margen4 {
    margin-left: 100px;
    margin-right: 250px;        
  }
  
  .section ul {
    text-align: center;
    margin-left: 20px;
  }
  
  .footer {
    text-align: center;
    background-color: rgb(9, 13, 70);
    color: white;
    padding: 10px;
    font-size: 16px;
  }

  .negrita {
    font-weight: bold;
  }
  